{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Creditcard</title>
</head>
<body class="bg-body bg-gradient">
    <div class="container-fluid bg-dark text-white border border-primary">
        <div class="header">
            <h1>Creditcard transaction</h1>
        </div>
        <div class="text-info" id="current_refresh_time">
            Current Refresh Time:
        </div>
    </div>
    <div class="row">
        <div class="btn-group bg-dark  border-top-0 border-primary">
            <button class="btn btn-dark border border-primary" id="start-kafka-producer">Start Kafka Producer</button>
            <button class="btn btn-dark border border-primary" id="start-spark-processing">Start Spark Processing</button>
            <button class="btn btn-dark border border-primary" id="stop-kafka-producer">Stop Kafka Producer</button>
            <button class="btn btn-dark border border-primary" id="stop-spark-processing">Stop Spark Processing</button>
        </div>                                  
    </div>
    <div class="row mt-3 mx-1">
        <div class="col-8">
            <canvas id="myChart" height="80vh"></canvas>
        </div>
        <div class="col-4">
            <table class="table table-sm table-hover table-bordered border-2 border-primary caption-top" id="statistic-table">
                <caption class="text-dark">Statistic table</caption>
                <thead class="table-dark text-center">
                    <tr>
                        <th class="col-2"></th>
                        <th class="col-1">NoFraud</th>
                        <th class="col-1">Fraud</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Count</th>
                        <td id="class0-count">0</td>
                        <td id="class1-count">0</td>
                    </tr>
                    <tr>
                        <th>Average amount</th>
                        <td id="class0-avg">0</td>
                        <td id="class1-avg">0</td>
                    </tr>
                    <tr>
                        <th>Recent</th>
                        <td id="class0-recent">0</td>
                        <td id="class1-recent">0</td>
                    </tr>
                </tbody>    
            </table>
        </div>
    </div>
    <div class="container-fluid mt-3">
        <table class="table table-hover table-bordered border-2 border-primary" id="creditcard-table">
            <!-- <thead > -->
                <tr class="table-dark text-center">
                    <th class="col-3">Id</th>
                    <th>Time</th>
                    <th>Amount</th>
                    <th>Class</th>
                </tr>
            <!-- </thead> -->
            <!-- <tbody id="creditcard-table-body"> -->
            <!-- </tbody> -->
        </table>
    </div>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <form class="form-control bg-dark text-white border-2 border-primary" id="transaction-form" method="POST">
                            {% csrf_token %}
                            <div class="row align-items-end">
                                <div class="col">
                                    <label class="form-label" for="class_field">Class</label>
                                    <select class="form-select border" name="class_field" id="class_field" required>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label class="form-label" for="amount">Amount</label>
                                    <input class="form-control border" type="text" name="amount" id="amount" placeholder="[-20,+20]" required>
                                </div>
                                <div class="col">
                                    <label class="form-label" for="time">Time</label>
                                    <input class="form-control border" type="text" name="time" id="time" placeholder="[-3,+3]" required>
                                </div>
                                <div class="col align-bottom">
                                    <button class="btn btn-primary" type="submit">Search</button>
                                </div>
                            </div>
                        </form> 
                    </div>
                    <div class="row border border-2 border-primary rounded bg-dark text-white mt-1">
                        <h2>Id Results</h2>
                        <ul class="list-group" id="idResults"></ul>
                    </div>
                    
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div class="row">
                        <form class="form-control bg-dark text-white border border-primary" id="search-by-id" method = "POST">
                            {% csrf_token %}
                            <div class="row align-items-end">
                                <div class="col">
                                    <label class="form-label" for="id">Id</label>
                                    <input class="form-control" type="text" name="id" id="id" required>
                                </div>
                                <div class="col">
                                    <button class="btn btn-primary align-bottom" type="submit">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row border border-2 border-primary rounded bg-dark text-white mt-1">
                        <h2>Transaction result</h2>
                        <ul class="list-group" id="transactionResult"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>